<div class="container">    
    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Thank You!</div>
                </div>     
                <div style="padding-top:30px" class="panel-body" >
                        
                    Your booking is confirmed!!
                        
                    </div>
                    <div style="text-align: center; margin-top: 50px; margin-left: 25px; padding-bottom: 30px;" class="input-group-addfb">
                        <a (click)="doLogOut()" class="btn btn-danger" style="color:whitesmoke" role="button">Logout</a>
                        
                       
                    </div> 
                          
                </div>  
    </div>

   
</div>