<div class="container">    
    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title" style="text-align: center;">Book Your Court</div>
                </div>     
                <div style="padding-top:30px" class="panel-body" >
                    <form>                                
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="firstname" placeholder= "Firstname" required>                                       
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" class="form-control" name="lastname" placeholder="Lastname" size="15" required >
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    <select class="form-control"> 
                                    <option value="#">Select time slot</option> 
                                    <option value="5.30-7.00">5.30-7.00</option>  
                                    <option value="7.30-9.00">7.30-9.00</option>  
                                    <option value="9.00-11.30">9.00-11.30</option>  
                                    <option value="12.00-2.00">12.00-2.00</option>  
                                    <option value="2.30-4.00">2.30-4.00</option>  
                                    <option value="4.30-6.00">4.30-6.00</option>  
                                    <option value="8.30-10.30">8.30-10.30</option>  
                                    </select> 
                                
                                </div>
                            
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-menu-down"></i></span>
                            <select class="form-control"> 
                            <option value="#">Select your Gender</option> 
                            <option value="Male">Male</option>  
                            <option value="Female">Female</option>  
                            <option value="Others">Others</option>  
                            </select>
                                </div>
                        
                        <div style="margin-bottom: 25px" class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                    <input type="text" name="country code" class="form-control" placeholder="Country code" value="+91" size="2" required>                                         
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
                            <input type="text" name="phone" class="form-control" placeholder="Phone no." size="10" required>  
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <textarea cols="65" rows="5" class="form-control" placeholder="Current address" name="address"  required>  
                            </textarea>  
                        </div>
                        <div style="margin-bottom: 25px; text-align: center;" class="input-register">
    
                            <a routerLink="/member" class= "btn btn-success" style="color:black" role="button">Next</a>  
                        </div>

                        </form>
                        <br>  <br><br>
                        
                    </div>                     
                </div>  
    </div>

   
</div>