<div class="container">    
    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title" style="text-align: center;">Our Terms and Conditions</div>
                </div> 
                <form>                                
                    <div style="margin-bottom: 25px ; margin-right: 20px; margin-top: 20px;" class="input-group">
                        <ol>
                            <li>Everyone who uses the Phoenix premises for any sports related activity (racket play or fitness activity) is required to have an active membership or register as a guest.</li><br>
                            <li>Phoenix reserves the right to limit the number of Guests and badminton court rental players who are permitted use the facilities.</li><br>
                            <li>Phoenix shall not be held responsible for vehicles or any damage to said vehicles while using the parking areas within the permises.</li><br>
                            <li>Phoenix staff may from time to time, inform you about additional rules and regulations or changes, if any.</li><br>
                            <li>Phoenix has instituted a cell phone policy for the protection of each Member's privacy and safety as well as to maintain a peaceful environment for all to enjoy. Cell phone use is prohibited in all facilities. Common social areas such as parking space and open spaces may be used for conversations. We appreciate your adherence to this policy on behalf of your fellow members.</li><br>
                            <li>Children under 12 years of age must have parental supervision at all times, on and off the courts. Children must not, at any time, loiter or play in the parking area. If so, Phoenix will not be liable for any incidents.</li><br>
                            <li>Absolutely no food or drinks are allowed on the floor court areas except water. Anyone who violates this policy will have to dispose the food or drinks immediately or be required to leave Phoenix premises immediately.</li><br>
                            <li>All members and guests who use any of the Phoenix courts realize and accept that badminton is a vigorous sport and is possible to sustain injuries when playing. All members and guests play badminton at their own risk, The academy shall not provide any emergency medical assistance or transportation to medical facility.</li><br>
                            <li>Non players, including children are not permitted to be on the courts at any time.</li><br>
                            <li>Phoenix does not allow smoking, spitting, gum chewing, animals or weapons in the facility.</li><br>
                            <li> No photography or taking of videos are permitted.</li><br>
                            <li>Any one found to be violating this policy will be required to leave the Phoenix premises immediately without refund and may be barred from entering the Phoenix premises in the future.</li><br>
                        </ol>
                        <div style="margin-bottom: 25px ; margin-right: 20px; margin-top: 10px; margin-left: 20px;" class="input-group">
                        <h5><b>DRESS CODE :</b></h5><br>
                        <ol>
                            <li>Only Non-marketing badminton shoes are permitted inside the court. No barefoot play is permitted. </li><br>
                            <li>All players must wear a T-shirt at all times while on the courts. Shorts of jean material are not permitted.</li><br>
                            <li>Black soled shoes of any kind are not allowed.</li><br>
                            <li>Shoes to be worn on the courts are to be brought into the club and players will change into those shoes prior to entering the court area. Regardless of the footwear type, wet, dirty or shoes that have been worn outside will not be permitted on the courts. Likewise a player who leaves the court to go to the parking lot will not be allowed to wear those shoes back on to the courts.</li><br>
                            <li>Street shoes, slippers, flip flops or any kind of footwear not specifically designed for badminton is not permitted.</li><br>
                            <li>No Street clothing, Sleeveless T- Shirts, tops with vulgar language or defamatory logos or designs.</li><br>
                            <li>Everyone needs to bring a towel and full water bottle.</li>
                        </ol>
                        </div>
                        <div style="margin-bottom: 25px ; margin-right: 20px; margin-top: 10px; margin-left: 20px;" class="input-group">
                        <h5><b>PERSONAL CONDUCT :</b></h5><br>
                        <ol>
                            <li>Phoenix members, guests and court rental guests (herein referred to as ‘players) are subject to the rules and guidance of the Phoenix staff and must wholly respect and follow staffs instructions and club regulations at all times while playing in the club.</li><br>
                            <li>Players agree to conduct themselves in a quiet and well-mannered fashion when in the club and not cause any disturbances or interfere with the safe use or enjoyment of the academy by other players.</li><br>
                            <li>Members and Guests shall restrain themselves from using profanities while in the premises.</li><br>
                            <li>Members and Guests shall restrain from physical contact with another person in any angry or threatening way. Harassment or intimidation by words, gestures. body language or any other menacing behaviour.</li><br>
                        </ol>
                        </div>
                        <div style="margin-bottom: 25px ; margin-right: 20px; margin-top: 10px; margin-left: 20px;" class="input-group">
                            <input type="checkbox"> I hereby agree to abide by the terms and conditions as provided by the Phoenix Board of Badminton Council.
                        </div>
                        <div style="margin-bottom: 25px; text-align: center;" class="input-register">
    
                            <a routerLink="/booked" class= "btn btn-warning" style="color:black" role="button">Book Court</a>  
                        </div>